<div id="mainButtons" class="container">
  <button type="button" id="roller" class="btn-cube"
          (click)="diceRoll()"
          [ngClass]="{'clicked' : isClicked}"
          [disabled]="!currentPlayerCanRoll()">
    <img id="conf" src="assets/soundsAndImages/LogoOneThousand.png" width="150px" height="150px" alt="" *ngIf="currentPlayerCanRoll()">
    <img id="conf-dis" src="assets/soundsAndImages/roller-dice-disabled.png" width="150px" height="150px" alt="" *ngIf="!currentPlayerCanRoll()"></button>

  <button type="button" id="nextThrow" class="btn btn-warning btn-lg" style="display: none">Throw</button>
  <button type="button" id="win" class="btn btn-dark btn-lg" style="display: none">Click to WIN!</button>
</div>
<div class="m-3">
  RESULT:
</div>
<div class="result container">
  <span id="resultZero">{{points}}</span>
</div>
<div class="container">
  <ng-container *ngIf="currentPlayer && currentPlayer.validations">
    <button type="button" id="saveButton" class="btn btn-success btn-lg" [disabled]="disableButtonForWaitingPlayers()" *ngIf="currentPlayer.validations?.isSaved || false" (click)="savePoints()">Save points</button>
    <button type="button" id="nextPlayer" class="btn btn-dark btn-lg" [disabled]="disableButtonForWaitingPlayers()" *ngIf="(currentPlayer.validations?.isNextPlayer && !currentPlayer.validations?.isWinner) || false" (click)="nextPlayer()">Next player</button>
    <button type="button" id="winner" class="btn btn-light btn-lg" [disabled]="disableButtonForWaitingPlayers()" *ngIf="currentPlayer.validations?.isWinner || false" (click)="winGame()">Winner!</button>
  </ng-container>
</div>
