<main class="container">
  <section class="container-conf conf-data">
    <div class="form-container">
      <div class="title h2">
        <img id="conf" src="assets/soundsAndImages/LogoOneThousand.png" width="100px" height="100px" alt="">
        Game Configuration
      </div>
      <form [formGroup]="initialGameForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="playerName">Player name:</label>
          <input id="playerName" type="text" formControlName="playerName">
        </div>
        <button class="btn-primary">Create game</button>
      </form>
    </div>
    <div class="form-container margin-up">
      <div class="title h2">Open games:</div>
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>Admin Player Name</th>
          <th>Number of Players</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let game of games">
        <tr [ngClass]="{unavailable: game.players.length == 4}">
          <td>{{game.gameId.substring(0, 5) + '...'}}</td>
          <td>{{game.adminPlayer.name}}</td>
          <td>{{game.players.length}}</td>
          <td><button class="btn btn-sm" [disabled]="game.players.length == 4" (click)="joinGame(game.gameId)">join</button></td>
        </tr>
        </ng-container>

        </tbody>
      </table>
      <div class="pagination-container">
        <button class="pagination-btn" (click)="previousPage()" [disabled]="currentPage==0"><-</button>
        <button class="pagination-btn" (click)="nextPage()" [disabled]="games.length == 0">-></button>
      </div>
    </div>
  </section>
</main>
