<!--
  choroba nestowania divow. Glowna zasada HTML im mniej divow tym lepiej.
  zarowno jesli chodzi o sama redundancje kontenerow ale rowniez zastepowanie
  ich semantycznie nacechowanymi tagami https://learntheweb.courses/topics/html-semantics-cheat-sheet/
    -- CZY LEPIEJ?

 -->

<main class="container">
  <section class="container-conf conf-data">
    <div class="form-container">
      <div class="title h2">
        <img id="conf" src="assets/soundsAndImages/LogoOneThousand.png" width="100px" height="100px" alt="">
        Game Configuration
      </div>
      <form class="form-container-in">
          <label class="selected">Number of players:</label>
          <div class="input-group">
            <select [formControl]="playersNumber" id="numPlayers2" class="form-select">
              <option [value]="2">2</option>
              <option [value]="3">3</option>
              <option [value]="4">4</option>
            </select>
          </div>
      </form>
      <form [formGroup]="initialGameForm!" (ngSubmit)="onSubmit()">

        <ng-container formArrayName="fPlayers">
          <div *ngFor="let p of playersForm.controls; let i=index" [formGroupName]="i">
            <div class="form-container-in">
              <label [for]="'name' + i">Player name: </label>
              <input class="form-input" [id]="'name' + i" type="text" formControlName="name">
            </div>
<!--            <div *ngIf="p.errors?.min && p.value['name'].touched" class="alert-custom">-->
            <span *ngIf="p.controls['name'].hasError('minlength').valueOf() && p.touched"  class="alert-custom">
<!--            <div *ngIf="p.invalid && p.touched"  class="alert-custom">-->
              Please enter a valid name (minimum 3 characters), your name has {{p.value['name'].length}} letters or
              {{p.controls['name'].hasError('unique').valueOf()}}
            </span>
            <span *ngIf="p.controls['name'].hasError('required').valueOf() && p.touched"  class="alert-custom">
              <!--            <div *ngIf="p.invalid && p.touched"  class="alert-custom">-->
              This field is required
            </span>
          </div>
        </ng-container>
        <button class="btn-primary" [disabled]="!initialGameForm.valid" [ngClass]="{'invalid-submit': !initialGameForm.valid}">Start Game!</button>

        <div [hidden]="!initialGameForm.controls['fPlayers'].hasError('unique')" class="alert-custom">
           {{initialGameForm.controls['fPlayers'].hasError('unique') ? initialGameForm.controls['fPlayers'].getError('unique') : ''}}
        </div>
      </form>
    </div>
  </section>
</main>
