<div class="menu">
  <div class="roller bg-secondary-p grid-item">
    <a class="btn btn-quit btn-lg">
      <i class="bi bi-box-arrow-left me-2" (click)="quit()">Quit game</i>
    </a>
  </div>
  <!-- dodatkowo mozna generowanie kafelkow zrobic ngForem zamiast recznie sprawdzac ilu graczy trzeba wyrysowac -->
  <!-- przy uzyciu display:grid w css mozna ustwaic taka siatke widoku tak zeby roller byl zawsze na srodku ;) -->

  <div class="player1 grid-item">
    <div id="player1Name" class="container">
      {{ players[0].name || "" }}
    </div>
    <div id="player1Cube" [hidden]="currentTurn !== 0">
      <app-player [diceNumbers]="diceNumbers" [points]="points" (diceChecked)="diceCheck($event)" class="gridCube"></app-player>
    </div>
    <div class="container points">
      <div>Points: {{ players[0].points }}</div>
      <div id="player1Points"></div>
    </div>
  </div>
  <div class="grid-item player3">
    <div id="player3Name" class="container" *ngIf="players[2]">
      {{ players[2].name || "" }}
    </div>
    <div id="player3Cube" [hidden]="currentTurn !== 2">
      <app-player [diceNumbers]="diceNumbers" [points]="points" (diceChecked)="diceCheck($event)" class="gridCubeSides" ></app-player>
    </div>
    <div class="container points" *ngIf="players[2]">
      <div>Points: {{ players[2].points }}</div>
      <div id="player3Points"></div>
    </div>
  </div>
  <div class="grid-item corner-right"></div>
  <div class="grid-item main">
    <div class="mainContent">
      <app-multiple-roller-dice></app-multiple-roller-dice>
    </div>
  </div>
  <div class="grid-item player4">
    <div id="player4Name" class="container" *ngIf="players[3]">
      {{ players[3].name || "" }}
    </div>
    <div id="player4Cube" [hidden]="currentTurn !== 3">
      <app-player [diceNumbers]="diceNumbers" [points]="points" (diceChecked)="diceCheck($event)" class="gridCubeSides"></app-player>
    </div>
    <div class="container points" *ngIf="players[3]">
      <div>Points: {{ players[3].points }}</div>
      <div id="player4Points"></div>
    </div>
  </div>
  <div class="grid-item corner-left"></div>
  <div class="grid-item player2">
    <div id="player2Name" class="container" *ngIf="players[1]">
      {{ players[1].name || "" }}
    </div>
    <div id="player2Cube" [hidden]="currentTurn !== 1" *ngIf="players[1]">
      <app-player [diceNumbers]="diceNumbers" [points]="points" (diceChecked)="diceCheck($event)" class="gridCube"></app-player>
    </div>
    <div class="container points" *ngIf="players[1]">
      <div>Points: {{ players[1].points }}</div>
      <div id="player2Points"></div>
    </div>
  </div>
  <div class="grid-item footer">links to social</div>
</div>
